@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .sidebar-button {
        padding: 5px;
        border: none;
        background: transparent;
        cursor: pointer;
        transform: scale(1);
        transition: background-color 0.3s ease;
    }
      
    .sidebar-button:hover {
        @apply rounded-r-md;
        background-color: rgba(255, 255, 255, 0.1);
    }
    
    .sidebar-icon {
        @apply relative flex items-center justify-center h-16 w-16 rounded-xl mt-2 mb-2 mx-auto shadow-xl 
        bg-gray-800 text-secondary;
    }

    .sidebar-tooltip {
        @apply absolute w-auto h-auto p-2 m-10 min-w-max left-14
        rounded-md shadow-md
        text-white bg-gray-900
        text-base font-bold
        transition-all duration-100 scale-0 origin-left;
    }
    .sidebar-button:hover .icon-hover {
        transform: scale(1.2);
        @apply text-blue-50;
    }


    .icon-hover {
        transition: transform .1s ease;
    }
}

@layer base{
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .exchange-box .exchange-submit-btn:hover {
        backdrop-filter: blur(8px);
        background-color: red;
    }
    .exchange-box:hover {
        backdrop-filter: blur(0px);
    }
    #titleBar {
        -webkit-app-region: drag;
    }
    html{
        scroll-behavior: smooth;
    }
    body{
        overflow: hidden;
        user-select: none;
        background-color: theme("colors.primary");
        width: auto;
    }
    .bg-dashboard{
        background-image: url("../../resources/backgrounds/bg-straight1.svg");

        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        background-repeat:no-repeat;
    }
    .bg-exchange {
        background-image: url("../../resources/backgrounds/bg-straight1.svg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        background-repeat:no-repeat;
    }
    .scrollable::-webkit-scrollbar {
        display:none;
    }
    .scrollable{
        overflow: auto;
    }
}
  
