@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .minimize_btn {
    background-image: url("../../resources/icons/minus.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    cursor: pointer;
  }
  .maximize_btn {
    background-image: url("../../resources/icons/maximize.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    cursor: pointer;
  }
  .close_btn {
    background-image: url("../../resources/icons/x.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    cursor: pointer;
  }
}